---
import Layout from "../layouts/Layout.astro";
import CommunityNav from "../components/NavBar.astro";
import CommunitySidebar from "../components/CommunitySidebar.jsx";
import CommunityPosts from "../components/CommunityPosts.jsx";
---

<Layout title="Comunidad - Genshin Impact">
  <CommunityNav />
  <section class="py-16 px-8 text-black flex flex-wrap gap-6">
    <!-- Contenido de Publicaciones -->
    <div class="flex-grow w-full lg:w-3/5 space-y-6">
      <div class="bg-gray-100 p-4 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4">Recomendado</h2>
        <CommunityPosts client:load />
      </div>
    </div>

    <!-- Sidebar a la Derecha -->
    <div>
      <CommunitySidebar client:load />
    </div>
  </section>
</Layout>
