---
// CallToActionButtons.astro
---

<div class="flex justify-center space-x-4 mt-8 mb-8">
  <a
    href="#explorar"
    class="bg-green-500 text-white px-6 py-3 rounded-lg font-bold hover:bg-green-600 transition-all"
    >Explorar Builds</a
  >
  <a
    href="#comunidad"
    class="bg-yellow-500 text-white px-6 py-3 rounded-lg font-bold hover:bg-yellow-600 transition-all"
    >Unirse a la Conversación</a
  >
</div>
