---

---

<div
  class="flex flex-col sm:flex-row justify-center items-center sm:space-x-4 space-y-4 sm:space-y-0 mt-8 mb-8"
>
  <a
    href="#explorar"
    class="bg-green-500 text-white px-6 py-3 rounded-lg font-bold hover:bg-green-600 transition-all text-center"
  >
    Explorar Builds
  </a>
  <a
    href="/tips"
    class="bg-yellow-500 text-white px-6 py-3 rounded-lg font-bold hover:bg-yellow-600 transition-all text-center"
  >
    Guías & Tips
  </a>
</div>
