---
import "swiper/css";
import "swiper/css/navigation";
import "photoswipe/style.css";
---

<section id="mobile-view-carousel" class="flex flex-col items-center p-8">
  <h2 class="text-3xl font-bold text-blue-600 mb-6">Vista en Móvil</h2>

  <div class="swiper w-full max-w-5xl">
    <div class="swiper-wrapper" id="my-slider">
      <!-- Slide 1 -->
      <a
        class="swiper-slide"
        href="/images/builds/background/anemo.png"
        data-pswp-width="800"
        data-pswp-height="800"
        target="_blank"
        data-cropped="true"
      >
        <div
          class="bg-white p-4 rounded-lg shadow-md w-[90%] sm:w-[300px] mx-auto"
        >
          <div class="text-black text-center py-2 mb-4 font-bold">Anemo</div>
          <div
            class="border-4 border-black rounded-lg overflow-hidden h-[300px] sm:h-[500px]"
          >
            <img
              src="/images/builds/background/anemo.png"
              alt="Anemo"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </a>
      <!-- Slide 2 -->
      <a
        class="swiper-slide"
        href="/images/builds/background/cryo.png"
        data-pswp-width="800"
        data-pswp-height="800"
        target="_blank"
        data-cropped="true"
      >
        <div
          class="bg-white p-4 rounded-lg shadow-md w-[90%] sm:w-[300px] mx-auto"
        >
          <div class="text-black text-center py-2 mb-4 font-bold">Cryo</div>
          <div
            class="border-4 border-black rounded-lg overflow-hidden h-[300px] sm:h-[500px]"
          >
            <img
              src="/images/builds/background/cryo.png"
              alt="Cryo"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </a>
      <!-- Slide 3 -->
      <a
        class="swiper-slide"
        href="/images/builds/background/dendro.png"
        data-pswp-width="800"
        data-pswp-height="800"
        target="_blank"
        data-cropped="true"
      >
        <div
          class="bg-white p-4 rounded-lg shadow-md w-[90%] sm:w-[300px] mx-auto"
        >
          <div class="text-black text-center py-2 mb-4 font-bold">Dendro</div>
          <div
            class="border-4 border-black rounded-lg overflow-hidden h-[300px] sm:h-[500px]"
          >
            <img
              src="/images/builds/background/dendro.png"
              alt="Dendro"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </a>
      <!-- Slide 4 -->
      <a
        class="swiper-slide"
        href="/images/builds/background/electro.png"
        data-pswp-width="800"
        data-pswp-height="800"
        target="_blank"
        data-cropped="true"
      >
        <div
          class="bg-white p-4 rounded-lg shadow-md w-[90%] sm:w-[300px] mx-auto"
        >
          <div class="text-black text-center py-2 mb-4 font-bold">Electro</div>
          <div
            class="border-4 border-black rounded-lg overflow-hidden h-[300px] sm:h-[500px]"
          >
            <img
              src="/images/builds/background/electro.png"
              alt="Electro"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </a>
      <!-- Slide 5 -->
      <a
        class="swiper-slide"
        href="/images/builds/background/geo.png"
        data-pswp-width="800"
        data-pswp-height="800"
        target="_blank"
        data-cropped="true"
      >
        <div
          class="bg-white p-4 rounded-lg shadow-md w-[90%] sm:w-[300px] mx-auto"
        >
          <div class="text-black text-center py-2 mb-4 font-bold">Geo</div>
          <div
            class="border-4 border-black rounded-lg overflow-hidden h-[300px] sm:h-[500px]"
          >
            <img
              src="/images/builds/background/geo.png"
              alt="Geo"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </a>
      <!-- Slide 6 -->
      <a
        class="swiper-slide"
        href="/images/builds/background/hydro.png"
        data-pswp-width="800"
        data-pswp-height="800"
        target="_blank"
        data-cropped="true"
      >
        <div
          class="bg-white p-4 rounded-lg shadow-md w-[90%] sm:w-[300px] mx-auto"
        >
          <div class="text-black text-center py-2 mb-4 font-bold">Hydro</div>
          <div
            class="border-4 border-black rounded-lg overflow-hidden h-[300px] sm:h-[500px]"
          >
            <img
              src="/images/builds/background/hydro.png"
              alt="Hydro"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </a>
      <!-- Slide 7 -->
      <a
        class="swiper-slide"
        href="/images/builds/background/pyro.png"
        data-pswp-width="800"
        data-pswp-height="800"
        target="_blank"
        data-cropped="true"
      >
        <div
          class="bg-white p-4 rounded-lg shadow-md w-[90%] sm:w-[300px] mx-auto"
        >
          <div class="text-black text-center py-2 mb-4 font-bold">Pyro</div>
          <div
            class="border-4 border-black rounded-lg overflow-hidden h-[300px] sm:h-[500px]"
          >
            <img
              src="/images/builds/background/pyro.png"
              alt="Pyro"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </a>
    </div>
    <!-- Botones de navegación -->
    <div class="swiper-button-prev hidden sm:block"></div>
    <div class="swiper-button-next hidden sm:block"></div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Navigation } from "swiper/modules";

  const swiper = new Swiper(".swiper", {
    modules: [Navigation],
    loop: true,
    slidesPerView: 1,
    spaceBetween: 15,
    breakpoints: {
      640: { slidesPerView: 2 },
      1024: { slidesPerView: 3 },
    },
    navigation: {
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
  });

  import PhotoSwipeLightbox from "photoswipe/lightbox";
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#my-slider",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>

<style>
  .swiper {
    position: relative;
    overflow: hidden;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
  }

  .swiper-button-next {
    right: 10px;
    background-image: url("/svgs/arrow-next.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  .swiper-button-prev {
    left: 10px;
    background-image: url("/svgs/arrow-next.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }

  .swiper-wrapper {
    padding: 0 10px;
  }

  @media (max-width: 640px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
</style>
